.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 12px 136px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
   font-weight: 600; 
}

.shopcategory-products {
    width: 96%; /* Ensure it aligns with .shopcategory-banner */
    margin: 0 auto; /* Center the grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensures equal columns */
    gap: 20px; /* Adds consistent spacing */
}


.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}